[submodule "general_api_pe"]
	path = general_api_pe
	url = git@github.com:ai-practice-enterprice/general_api_pe.git
	branch = main
[submodule "bsu_website"]
	path = bsu_website
	url = git@github.com:ai-practice-enterprice/bsu_website.git
	branch = main
[submodule "bsu_warehouse_database"]
	path = bsu_warehouse_database
	url = git@github.com:ai-practice-enterprice/bsu_warehouse_database.git
	branch = main
